/* Empty. Add your own CSS if you like */
.payments {
  width: 8em;
  height: 3em;
  text-align: left;
}

.payform {
  height: 3em;
  width: 20em;
  /*display: inline-block;*/
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center button {
  text-align: justify;
  margin-left: 15px;
}

progress {
  -webkit-appearance: none;
}

.login-controls {
    padding: 20px;
    text-align: center;
}

ion-label {
    text-align: center;
}
