<ion-view view-title="Budget Categories">
  <ion-content>
    <ion-list>
      <div class="login-controls">
            <h2>Welcome, {{loggedIn}}</h2>
      </div>
      <ion-item ng-repeat="budget in budgets" href="#/app/budgets/{{budget.title}}">
        <div class="budget_category">
          {{budget.title}} :
          ${{value[budget.id + 'BudgetSpent']}} / ${{value[budget.id]}}
          <progress value="{{value[budget.id + 'BudgetSpent']}}" max="{{value[budget.id]}}"></progress>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
